{% extends "./base.html" %}

{% block content %}

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
     font-family: 'Calibri', sans-serif !important
 } 

.mt-100{ 
    margin-top:100px;
}
.mb-100{
    margin-bottom:100px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}

ul.list-style-none li {
    list-style: none;
}

ul.list-style-none li a {
    color: #673AB7;
    padding: 8px 0px;
    display: block;
    text-decoration: none;
}

.m-t-5 {
    margin-top: 5px;
}

.w-30px {
    width: 30px;
}
</style>
<div class="row d-flex justify-content-center mb-100" style="margin-top: 100px;">
                        
                                  
    <div class="col-lg-6">
       
       <div class="card">
           <div class="card-body text-center">
               <h4 class="card-title m-b-0">Credits</h4>
           </div>
           <ul class="list-style-none">
               <li class="d-flex no-block card-body">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/weather" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Weather icons created by iconixar</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/tornado" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Tornado icons created by iconixar.</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/cold" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Cold icons created by iconixar</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/rain" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Rain icons created by iconixar</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/cloud" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Cloud icons created by iconixar</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/moon" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Moon icons created by iconixar</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/cloud" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Cloud icons created by iconixar</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/forecast" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Forecast icons created by Linector</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/rain" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Rain icons created by Konkapp</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/ash-cloud" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Ash cloud icons created by cube29</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/air-pollution" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Air pollution icons created by Freepik</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/sand" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Sand icons created by Freepik</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.flaticon.com/free-icons/wind" class="m-b-0 font-medium p-0" data-abc="true">Flaticon</a>
                       <span class="text-muted">Wind icons created by Freepik</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-ai-image/blue-sky-ai-generated-image_91313206.htm#fromView=search&page=1&position=43&uuid=d76a4225-481c-430b-8a6d-73e5795639b8" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Clear sky background image created by vwalakte</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-ai-image/beautiful-cloudscape_222203717.htm#fromView=search&page=1&position=42&uuid=fe93b4e9-5b99-451d-8b04-b03c30d72175" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Cloudy sky background image created by Freepik</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-ai-image/view-apocalyptic-dark-clouds_94164679.htm#fromView=search&page=2&position=12&uuid=13c95beb-aa0d-417d-9460-0f76169ef3cd" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Rainy sky background image created by Freepik</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-ai-image/view-apocalyptic-dark-clouds_94164709.htm#fromView=search&page=1&position=16&uuid=709f095c-e252-494a-9854-c167f4e1e2b7" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Thunderstorm background image created by Freepik</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-ai-image/nature-landscape-with-dreamy-aesthetic-color-year-tones_169078568.htm#fromView=search&page=2&position=1&uuid=32ae71d1-67a1-4d54-8be4-aad92a527012" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Sandy background image created by Freepik</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-photo/low-angle-shot-bird-flying-cloudy-sky-daytime_10759061.htm#fromView=search&page=1&position=16&uuid=3d3bfd3c-a269-42a0-9a7f-8fdc188434c0" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Windy background image created by wirestock</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-photo/trees-each-other-forest-covered-by-creeping-mist_9927422.htm#fromView=search&page=1&position=15&uuid=525a0027-e410-4750-8807-fece790f4346" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Foggy background image created by wirestock</span>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top">
                   <i class="fa fa-check-circle w-30px m-t-5"></i>
                   <div>
                       <a href="https://www.freepik.com/free-photo/3d-render-snowy-christmas-landscape-background_20619725.htm#fromView=search&page=2&position=2&uuid=4b756bcf-d06e-452a-83a5-9c0d10b9447c" class="m-b-0 font-medium p-0" data-abc="true">Freepik</a>
                       <span class="text-muted">Snowy background image created by kjpargeter</span>
                   </div>
               </li>
           </ul>
       </div>

   </div>
   </div>

{% endblock content %}