<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Weather App</title>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <form method="POST" action="{% url 'weather' %}">
                {% csrf_token %}
                <div class="search-box">
                <input class="" type="search" name="query" aria-label="Search">
                <button class="" type="submit">Search City</button>
                </div>
            </form>

            <div class="location-data">
                <div class="current-weather">
                    <div class="city-name">
                        <h2>Toledo</h2>
                        <img src="{% static "images/icons/Clear.png" %}" alt="">
                    </div>
                    <div>
                        <p>75&#176;F</p>
                        <p>Clear</p>
                    </div>
                </div>

                <div class="additional-details">
                    <p>Feels Like: 76&#176;F</p>
                    <p>Wind Speed: 10 mph</p>
                    <p>Humidity: 50%</p>
                </div>
            </div>

            <div class="low-high">
                <p>Low: 70&#176;F</p>
                <p>High: 80&#176;F</p>
            </div>
        </div>

        <footer class="">
            <div class="">
              <p class="">Copyright &copy; Anthony Davis {% now 'Y' %}</p>
            </div>
        </footer>

        <script src={% static 'js/scripts.js' %}></script>
    </body>
</html>